@import '@scss/variables';

$container-border-radius: 20px;


.measure{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 50px;
    // justify-content: stretch;
    padding: 50px;
}

.filters{
    grid-column: span 3;
    background-color: white;
    border-radius: $container-border-radius;
    border: solid 1px black;
    padding: 20px 10px;


    &.filters__title{
        color: white;
        background-color: wheat;
        border-radius: $container-border-radius;
        padding: 20px;
    }   

    &.filters__group{
        margin: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    
}

.filters__group__header{
    color: white;
}


.log{
    grid-column: span 4;
    background-color: $base-background-color;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    
    border-radius: $container-border-radius;


    & .log__heasder{
        width: 100%;
    }
}

.plots{
    grid-column: span 6;
    background-color: $base-background-color;

    border-radius: $container-border-radius;
}