.table{
    width: 600px;
    border: 1px solid black;
    border-radius: 10px;
}

.table__header{
    height: 40px;
    background: #1976d2;
}

.table__header__item{
    padding-left: 10px;
}

.table__row{
    height: 40px;
    border: 1px solid black;
    &:nth-child(even) {
        background: #EBF5FF;
    }
    &:nth-child(odd) {
        // background: rgb(141, 128, 163);
    }
}

.table__row__item{
    padding-left: 5px;
}