@import "~/shared/scss/variables";

$container-border-radius: 20px;

.left_menu {
  background-color: white;
  border-radius: 0 $container-border-radius $container-border-radius 0;
  border: solid 1px black;
  padding: 20px 10px;

  position: fixed;
  left: 0;

  width: 50px;
}

.measure {
//   display: grid;
//   grid-template-columns: repeat(12, 1fr);
//   gap: 50px;
  padding: 50px 100px;
  min-height: 100vh;
}

.filters {
  grid-column: span 3;
  background-color: white;
  border-radius: $container-border-radius;
  border: solid 1px black;
  padding: 20px 10px;
}

.log {
  grid-column: span 6;
  // background-color: $base-background-color;
  background-color: white;
  
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;

  border-radius: $container-border-radius;

  padding: 20px 0px;
}

.plots {
  grid-column: span 6;
  background-color: $base-background-color;
  background-color: white;
  border-radius: $container-border-radius;
  padding: 20px 10px;

  display: flex;
  flex-direction: column;
  gap: 50px;
}
