$base-background-color: #1976d2;
$base-background-color-2: white;

$header-button-color: #1976d2;
$header-button-border: black;
$header-background-color: $base-background-color;

$text-color-main: black;
$button-color-1: #1976d2;
$button-border-1: #1976d2;

