@import '~/scss/variables';

.header{
    background-color: $header-background-color;

    display: grid;
    align-items: center;
    justify-self: center;
    gap: 10px;
    grid-template-columns: repeat(5, 200px) auto;

    height: 80px;
    .header__logo,
    .header__user{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        transition: all 0.3s;
    }
    .header__user{
        justify-content: flex-end;
        margin-right: 50px;
    }

    .header__logo:hover{
        transform: translate(0px, -10px);
    }

    .header__user:hover{
        transform: translate(0px, -10px);
    }
}





.header p{
    /* Montserrat Medium */
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
}